* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: left;
    height: 150px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

#navbar_logo{
    background-color: lawngreen;
    background-image: linear-gradient(to top, greenyellow 0%, palegreen 100%);
    background-size: 70%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.75rem;
    padding-left: 10px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    justify-items: left;
    list-style: none;
    text-align: center;
    padding-right: 20px;
}

.navbar_item{
    height: 100px;
    width: 75%;
}

.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100px;
    font-size: 1rem;
    text-align: unset;
}

.navbar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: darkseagreen;
    color: #fff;
}

.button:hover{
    background: darkgreen;
    transition: all 0.5s ease;
}

.navbar_links:hover
{
    background: darkgreen;
    transition: all 0.4s ease;
}

@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 150px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar_toggle.bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 125%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle.bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active.bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main_container {
    justify-items: center;
    padding-top: 25px;
}